@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center" style="color:red">
    <h7>404 - Not Found</h7>
</div>
<div class="text-center" style="color: cornsilk">
    <p>
        Sorry we coudn`t find that page :(
    </p>
</div>