@{

}


<div class="container" style="max-width: 470px; max-height: 420px; display: unset; ">
    <div class="row">

        <div class="card" style="padding:15px; margin:15px;  float:unset;">
            <div class="card-body" style="color: black;">
                <h5 class="card-title">CEO</h5>
                <p class="card-text">Daniel Levchev</p>
                <div class="card-footer"> Email: daniellevchev@imagination.net</div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" style=" margin-left: 85px; padding-left: 60px; padding-right: 60px; margin-right: 20px;"
                        href="#" data-toggle="modal" data-target="#CEOinfo">
                    Show more...
                </button>

            </div>
            <div class="modal fade" style="color:GrayText" id="CEOinfo">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>CEO</h1>
                        </div>
                        <div class="modal-body">
                            <img src="~/Images/fe9ebec7-0c56-4ec5-9c3c-7e4510311e9c.jpg" style="width: 260px; ">
                            <div style="float: right; padding: 30px;">
                                24 years old, graduated from UNWE in
                                <br />2021 as specialist in sociology.
                                <br /> His experience with .NET technology
                                <br />began in the middle of 2021.
                                <br /> After his second try in the telerik academy
                                <br />he managed to graduate in the middle of 2022.
                                <br /> Willing to learn and develop himself
                                <br />he is looking for his next project and
                                <br />the project is waiting for him as well.
                            </div>
                            <div class="modal-footer">
                                <b>
                                    <i>
                                        Daniel Levchev - project creator and manager.
                                    </i>
                                </b>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#CEOinfo">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card" style="padding:15px; margin:15px; float:unset;">
            <div class="card-body" style="color: black;">
                <h5 class="card-title">Project Manager</h5>
                <p class="card-text">Tsvetan Ivanov</p>
                <div class="card-footer"> Email: tsvetan_к_ivanov@yahoo.com</div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" style=" margin-left: 85px; padding-left: 60px; padding-right: 60px; margin-right: 20px;"
                        href="#" data-toggle="modal" data-target="#PMinfo">
                    Show more...
                </button>

            </div>
            <div class="modal fade" style="color:GrayText" id="PMinfo">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Project Manager</h1>
                        </div>
                        <div class="modal-body">
                            <img src="~/Images/Tsvetan.jpg" style="width: 260px; ">
                            
                            <div style="float: right; padding: 30px;">
                                A graduate of Technical University Sofia
                                <br />And later of Sofia University.
                                <br />"Computer programming is my new passion.
                                <br />It started with a C# Telerik programme,
                                <br />Which took hold of my heart and brain."
                               
                            </div>
                            
                            <div class="modal-footer">
                                <b>
                                    <i>
                                        Tsvetan Ivanov - Project manager. Thanks to him we realised this project and it has been launched on time.
                                    </i>
                                </b>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#PMinfo">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card" style="padding:15px; margin:15px; float:unset;">
            <div class="card-body" style="color: black;">
                <h5 class="card-title">Partner Communication Manager</h5>
                <p class="card-text">Krasimir Hristov</p>
                <div class="card-footer"> Email: krasimirhristov@imagination.net</div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" style=" margin-left: 85px; padding-left: 60px; padding-right: 60px; margin-right: 20px;"
                        href="#" data-toggle="modal" data-target="#PCMinfo">
                    Show more...
                </button>

            </div>
            <div class="modal fade" style="color:GrayText" id="PCMinfo">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1>Partner Communication Manager</h1>
                        </div>
                        <div class="modal-body">

                            <div class="modal-footer">
                                <b>
                                    <i>
                                        Krasimir Hristov - The man who manageed to find and build a relationship with our current partners and helped the Project Manager to be able to create this project.
                                    </i>
                                </b>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#PCMinfo">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>